{{> header}}
<div class="container">
  <form id="login-form">
    <div class="mb-3">
      <label for="email-login" class="form-label">Email:</label>
      <input type="text" id="email-login" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">Password:</label>
      <input type="password" id="password-login" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{{> footer}}